* {
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
}

img {
    max-width: 100%;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.hidden {
    display: none;
}